In [69]:
import pandas as pd
import numpy as np
import json

# Load JSON data
data = json.loads(open('datasets/countriesInfo.json').read())

# Convert JSON to DataFrame
df = pd.DataFrame.from_dict(data, orient='index')

In [70]:
# Replace empty strings with NaN
df.replace("", np.nan, inplace=True)

In [71]:
print(df.isnull().sum())

nome                       0
area                       0
capital                    0
densidade populacional     0
espetativa de vida         0
exportacoes                0
gdp                        0
hemisferio                 0
importacoes                0
lado em que conduz         0
latitude                   0
literacia                  0
longitude                  0
migracao liquida           0
moeda                      0
mortalidade infantil       0
populacao                  0
taxa de mortalidade        0
taxa de natalidade         0
telefones por 1000         0
costa                      0
temperatura media          0
racio sexos                0
taxa desemprego            0
taxa fertilidade           0
medicos por mil           75
receita imposto           27
emissoes co2               0
dtype: int64

In [72]:
print("CAPITAIS")
print(df[df['capital'].isnull()]['nome'])

CAPITAIS
Series([], Name: nome, dtype: object)

In [73]:
print("EXPECTATIVA DE VIDA")
print(df[df['espetativa de vida'].isnull()]['nome'])

EXPECTATIVA DE VIDA
Series([], Name: nome, dtype: object)

In [74]:
print("EXPORTACOES")
print(df[df['exportacoes'].isnull()]['nome'])

EXPORTACOES
Series([], Name: nome, dtype: object)

In [75]:
print("GDP")
print(df[df['gdp'].isnull()]['nome'])

GDP
Series([], Name: nome, dtype: object)

In [76]:
print("HEMISFERIO")
print(df[df['hemisferio'].isnull()]['nome'])

HEMISFERIO
Series([], Name: nome, dtype: object)

In [77]:
print("IMPORTACOES")
print(df[df['importacoes'].isnull()]['nome'])

IMPORTACOES
Series([], Name: nome, dtype: object)

In [78]:
print("LATITUDE")
print(df[df['latitude'].isnull()]['nome'])

LATITUDE
Series([], Name: nome, dtype: object)

In [79]:
#print de valores nulos de migracao liquida,moeda, mortalidade infantil,taxa de mortalidade,taxa de natalidade,telefones por 1000,costa,racio sexos,taxa desemprego,taxa fertilidade, emissoes co2
print("MIGRACAO LIQUIDA")
print(df[df['migracao liquida'].isnull()]['nome'])
print("MOEDA")
print(df[df['moeda'].isnull()]['nome'])
print("MORTALIDADE INFANTIL")
print(df[df['mortalidade infantil'].isnull()]['nome'])
print("TAXA DE MORTALIDADE")
print(df[df['taxa de mortalidade'].isnull()]['nome'])
print("TAXA DE NATALIDADE")
print(df[df['taxa de natalidade'].isnull()]['nome'])
print("TELEFONES POR 1000")
print(df[df['telefones por 1000'].isnull()]['nome'])
print("COSTA")
print(df[df['costa'].isnull()]['nome'])
print("RACIO SEXOS")
print(df[df['racio sexos'].isnull()]['nome'])
print("TAXA DESEMPREGO")
print(df[df['taxa desemprego'].isnull()]['nome'])
print("TAXA FERTILIDADE")
print(df[df['taxa fertilidade'].isnull()]['nome'])
print("EMISSOES CO2")
print(df[df['emissoes co2'].isnull()]['nome'])

MIGRACAO LIQUIDA
Series([], Name: nome, dtype: object)
MOEDA
Series([], Name: nome, dtype: object)
MORTALIDADE INFANTIL
Series([], Name: nome, dtype: object)
TAXA DE MORTALIDADE
Series([], Name: nome, dtype: object)
TAXA DE NATALIDADE
Series([], Name: nome, dtype: object)
TELEFONES POR 1000
Series([], Name: nome, dtype: object)
COSTA
Series([], Name: nome, dtype: object)
RACIO SEXOS
Series([], Name: nome, dtype: object)
TAXA DESEMPREGO
Series([], Name: nome, dtype: object)
TAXA FERTILIDADE
Series([], Name: nome, dtype: object)
EMISSOES CO2
Series([], Name: nome, dtype: object)